
# Tools
crypto_helper
n3n-benchmark
n3n-decode
n3n-portfwd
n3n-qr
n3n-route
crypto_helper.exe
n3n-benchmark.exe
n3n-decode.exe
n3n-portfwd.exe
n3n-qr.exe
n3n-route.exe

# Binaries built to run tests
tests-auth
tests-compress
tests-elliptic
tests-transform
tests-wire
tests-peers
tests-aes
tests-cc20
tests-wire-fuzz
tests-wire-numsn
tests-regex
tests-decode-bounds
tests-sock
tests-auth.exe
tests-compress.exe
tests-elliptic.exe
tests-transform.exe
tests-wire.exe
tests-peers.exe
tests-regex.exe
tests-aes.exe
tests-cc20.exe
tests-wire-fuzz.exe
tests-wire-numsn.exe
tests-decode-bounds.exe
tests-sock.exe
